.header{
  width: 100%;
  height: 5rem;

  padding: 1rem 10% ;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  background-color: #232323;
  h3{
    margin-right: 3%;
    a {
      text-decoration: none;
      color: inherit;
      cursor: pointer;
      &:hover{
        color:#969696;
      }
    }
  }

}